@font-face {
    font-family: 'mont';
    src: url('./Montserrat-VariableFont_wght.ttf ') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HTOWERT';
    src: url('./HTOWERT.TTF') format('truetype');
}